.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5) !important;
}

.header-left {
         float: left;
     }

     .header-right {
         float: right;
     }

header {
    overflow: hidden;
    /* line-height: 2em; */
    height: 80px;
    background: #000000;
    /* padding: 0 5%;
    margin-top: -10px; */
    position: relative;

}


header {
  overflow: hidden;
  background: #000000;
  position: relative;
  padding: 0 5%;
  line-height: 2em;


}

.header-left {
  float: left;
}

.header-right {
  float: left;
}

#header a {
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  padding: 20px;
}

#header a.active {
  background: #333333;
}

#header a:hover.nav-link {
  background: #666666;
}

#header img {
  vertical-align: middle;
  margin-top: -20px;

}

a.navbar-brand {
  margin-left: -30px;
}

span.align-right {
  float: right;
}

.container{
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;

}
.title{
    margin-bottom: 2rem;
    font-size: 20px;
}
.photo-gallery{
    display: flex;
    gap: 25px;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.photo img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.container .column .photo{
    position: relative;
    overflow: hidden;
}
.container .column .photo img{
    max-width: 100%;
    transition: transform 0.5s;
}
.container .column .photo:hover img{
    transform: scale(103%);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #cfc5ff;
    opacity: 0;
    transition: opacity 0.25s;
}
.frame-description {
    font-size: 16px;
    color: #b7aaf8;
    text-align: center;
}

.frame-title {
    margin-top: 16px;
    font-size: 23px;
    text-align: center;
}
.overlay:hover{
    opacity: 1;
}
.overlay > *{
    transform: translateY(-20px);
    transition: transform 0.25s;
}
.overlay:hover > *{
    transform: translateY(0px);
}

@media(max-width: 768px){
    .photo-gallery{
        flex-direction: column;
    }
}

@media (max-width: 600px) {
  /* styles for screens with a maximum width of 600px */
  .header-left {
    display: none;
    /* hide the logo */
  }
  #header a {
    font-size: 14px;
    /* reduce the font size of the links */
  }

}

@media (min-width: 601px) and (max-width: 900px) {
  /* styles for screens with a width between 601px and 900px */
  #header a {
    font-size: 17px;
    /* increase the font size of the links */
  }
  #header img {
    width: 70px;
    /* increase the width of the logo */
    height: 70px;
    /* increase the height of the logo */
  }
}

@media (min-width: 901px) {
  /* styles for screens with a width greater than 901px */
  #header a {
    font-size: 19px;
    /* increase the font size of the links */
  }
  #header img {
    width: 70px;
    /* increase the width of the logo */
    height: 70px;
  }
}

main {
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
  /* min-height: calc(100vh - 211px - 58px); */
}


footer {
  text-align: center;
  background-color: #000000;
  color: #fff;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0%
  /* position: fixed;
  z-index: 1; */
}


body {
    font-family: 'Mate SC', serif;
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;
}


#blogtitle {
    font-size: 6rem;
}



@media only screen and (max-width: 480px) {
  img {
    width: 100%;
  }

}


@media (min-width: 992px) {
    #hometext {
        font-size: 3rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }

}
