.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5) !important;
}

.header-left {
         float: left;
     }

     .header-right {
         float: right;
     }

header {
    overflow: hidden;
    /* line-height: 2em; */
    height: 80px;
    background: #000000;
    /* padding: 0 5%;
    margin-top: -10px; */
    position: relative;

}


header {
  overflow: hidden;
  background: #000000;
  position: relative;
  padding: 0 5%;
  line-height: 2em;


}


#header a {
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  padding: 20px;
}

#header a.active {
  background: #333333;
}

#header a:hover.nav-link {
  background: #666666;
}

#header img {
  /*vertical-align: middle;*/
  /*margin-top: -20px;*/
  width: 95;
  height: 95;

}

a.navbar-brand {
  margin-left: -30px;
}

span.align-right {
  float: right;
}

h5.capitalize {
  text-transform: capitalize;
}

main {
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
}


footer {
  text-align: center;
  background-color: #000000;
  color: #fff;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0%
}


body {
    font-family: 'Mate SC', serif;
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;
}


#blogtitle {
    font-size: 6rem;
}

.container{
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;

}
.title{
    margin-bottom: 2rem;
    font-size: 20px;
}
.photo-gallery{
    display: flex;
    gap: 25px;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.photo img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.container .column .photo{
    position: relative;
    overflow: hidden;
}
.container .column .photo img{
    max-width: 100%;
    transition: transform 0.5s;
}
.container .column .photo:hover img{
    transform: scale(103%);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #cfc5ff;
    opacity: 0;
    transition: opacity 0.25s;
}
.overlay p{
    font-size: 15px;
    color: #b7aaf8;
}
.overlay h5{
    margin-top: 15px;
    font-size: 23px;
}
.overlay:hover{
    opacity: 1;
}
.overlay > *{
    transform: translateY(-20px);
    transition: transform 0.25s;
}
.overlay:hover > *{
    transform: translateY(0px);
}

@media(max-width: 768px){
    .photo-gallery{
        flex-direction: column;
    }
}


@media (min-width: 500px) and (max-width: 900px) {
  #header a {
    font-size: 10px;
  }
  #header img {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 901px) {
  #header a {
    font-size: 10px;
  }
  #header img {
    width: 70px;
    height: 70px;
  }
}


@media only screen and (max-width:767px) {
  img {
    width: 50% !important;
    margin: 0 auto !important;
    display: block;
  }

}


@media (min-width: 992px) {
    #hometext {
        font-size: 3rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }

}
